
body {
  font-size: 14px;
  text-align: center;
    margin: auto;
   background: #F4F4F4;
    display: flex;
    font-family: 'Inter', sans-serif;


}
.main-section {
    background: #F4F4F4;
    border: 2px solid #FFF;
    margin: 0 auto;
     width: 80%;
     min-width: 320px;
    
}
.title-section{
  min-width: 320px;
  background: rgba(104,66,255,1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
}

.title {
  min-width: 320px;
  width: 100%;
  color: #FFF;
  
  text-align: center;
 font-family: Inter;
 font-size: 1.75rem;
 font-style: normal;
 font-weight: 800;
 line-height: 2.375rem; /* 135.714% */
 letter-spacing: -0.00525rem;
  text-align: center;
  padding-bottom: 2rem;
}
/* Media Query for Mobile Devices */
@media (max-width: 568px) {
    .title {
    font-size: 1.5rem;
    }
    
    .main-section {
     border: none;
     width: 100%;
    
}
}



.large-number-display {
  color: #FFF;
  font-family: Inter;
  font-weight: 800;
  font-size: 3.625rem;
  text-align: center;
  border: 2px solid #B295FF;
  border-radius: 5px;
  max-width: 150px;
  min-width: 100px; 
  align-self: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background: none;
  

}

.convert-button {
  background: rgba(255,255,255,1);
  padding: 0.56rem 3.8rem;
  border-radius: 5px;
  align-self: center;
  color: #3D3D3D;
  
 /* text-base/leading-6/font-medium */
 font-family: Inter;
 font-size: 1rem;
 font-style: normal;
 font-weight: 500;
 line-height: 1.5rem; /* 150% */
 border: none;
 
}
.convert-button:hover {
  color:#6943FF;
  font-weight: 600;
  background-color: azure;
}

.conversion-content {
   min-width: 320px;
   width: 100%;  
}


.conversion-details {
  
  background: rgba(255,255,255,1);
  padding: 1.5rem 2rem;
  margin: 18px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conversion-info {
  color: #353535;

  text-align: center;
/* text-sm/leading-5/font-normal */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}
.conversion-label {
  color: #5A537B;
 text-align: center;
 font-family: Inter;
 font-size: 1.25rem;
 font-style: normal;
 font-weight: 600;
 line-height: 1.25rem; /* 100% */
}


